/* You can add global styles to this file, and also import other style files */
body {
    background-color:#1D1A1A;
    
}
* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
button {
    background:#5C32C4;
    color:white;
    padding: 1em;
    width:200px;
    text-align:center;
    font-size:1em;
    margin-bottom: 30px;
    cursor:pointer;
}
footer{
   
    padding-bottom:5px;
    text-align: right;
}
header{
    text-align: right;
}